/* LEFT SIDEBAR ONLY */
.left {
  position: fixed;
  top: 60px;
  left: 0;

  width: 250px;
  height: calc(100vh - 60px);

  background: rgb(13, 13, 58);
  padding-top: 20px;

  z-index: 999;
}

.left button {
  width: 200px;
  margin: 10px 20px;
  padding: 10px;
  color: white;
  background: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
}

.left a {
  display: block;
  width: 200px;

 

  color: white;
  text-decoration: none; /* remove underline */
  border-radius: 5px;
}





.left button:hover {
  background: rgb(2, 2, 17);
  
}


/* ================= TABLET & MOBILE ================= */
/* ================= MOBILE & TABLET FIX ================= */
/* ================= MOBILE & TABLET ================= */
@media (max-width: 768px) {

  .left {
    position: relative !important; /* remove fixed */
    top: 50px !important;
    left: 0 !important;

    width: 100%;
    height: auto;
    

    display: block; /* always visible */
  }

  .left button {
    width: 90%; /* better mobile spacing */
    margin: 8px auto;
    display: block;
  }
}