*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* ================= TOP BANNER ================= */

.topBanner{
  width: 96%;
  margin: 25px auto 15px auto;
  padding-top: 10px;
  border-radius: 18px;
  overflow: hidden;
}

.bannerImage{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* ================= MAIN FOOTER ================= */
.cont{

  background-color: #cdccdb;


}


.footerMain{
  width: 96%;
  margin: auto;
  

  display: grid;
  grid-template-columns: repeat(4,1fr);
  

  gap: 25px;

  padding: 35px 15px;

  background: #eee7e7;
  border-top: 1px solid #e5e5e5;
  border-radius: 5px;
}

.footerBox{
  padding: 0 18px;
  border-right: 1px solid #e5e5e5;
  background-color: #eae7ee;
}

.footerBox:last-child{
  border-right: none;
}

/* ================= LOGO ================= */

.logo{
  width: 180px;
  object-fit: contain;
  margin-bottom: 18px;
}

/* ================= TITLES ================= */

.footerBox h2{
  font-size: 22px;
  color: #6c2bd9;
  margin-bottom: 10px;
  font-weight: 700;
}

.line{
  width: 45px;
  height: 3px;
  background: #6c2bd9;
  margin-bottom: 20px;
  border-radius: 20px;
}

/* ================= TEXT ================= */

.footerText{
  font-size: 17px;
  line-height: 1.8;
  color: #333;
}

/* ================= SOCIAL ================= */

.socials{
  display: flex;
  gap: 12px;
  margin-top: 25px;
}

.socialIcon{
  width: 48px;
  height: 48px;

  border-radius: 10px;
  background: #f3edff;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #6c2bd9;
  font-size: 20px;

  cursor: pointer;
  transition: 0.3s;
}

.socialIcon:hover{
  transform: translateY(-3px);
}

/* ================= CONTACT BUTTON ================= */

.contactLink{
  text-decoration: none;
}

.contactBtn{
  margin-top: 25px;

  display: flex;
  align-items: center;
  gap: 10px;

  background: transparent;
  border: none;

  color: #6c2bd9;
  font-size: 12px;
  font-weight: 600;

  cursor: pointer;
}

/* ================= INFO ROW ================= */

.infoRow{
  display: flex;
  align-items: flex-start;
  gap: 14px;

  margin-bottom: 22px;
}

.infoIcon{
  color: #6c2bd9;
  font-size: 18px;
  margin-top: 4px;
}

.infoRow p{
  font-size: 17px;
  line-height: 1.8;
  color: #222;
}

/* ================= BOTTOM BAR ================= */

.bottomBar{
  width: 96%;
  margin: auto;

  border-top: 1px solid #e5e5e5;
  


  padding: 22px 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
  gap: 15px;
}

/* ================= SECURE ================= */

.secure{
  display: flex;
  align-items: center;
  gap: 10px;

  color: #6c2bd9;
  font-size: 22px;
}

.secure p{
  font-size: 17px;
  color: #111;
}

/* ================= COPYRIGHT ================= */

.copyRight{
  font-size: 17px;
  color: #111;
}

.copyRight span{
  color: #6c2bd9;
  font-weight: 700;
}

/* =========================================================
   =================== TABLET VIEW =========================
========================================================= */

@media screen and (min-width: 769px) and (max-width: 1024px){

  .footerMain{
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
  }

  .footerBox{
    border-right: none;
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
  }

  .logo{
    width: 150px;
  }

  .footerBox h2{
    font-size: 20px;
  }

  .footerText{
    font-size: 15px;
  }

  .infoRow p{
    font-size: 15px;
  }

  .copyRight{
    font-size: 15px;
  }

  .secure p{
    font-size: 15px;
  }

}

/* =========================================================
   =================== MOBILE VIEW =========================
========================================================= */

@media screen and (max-width: 768px){

  .topBanner{
    width: 96%;
    margin-top: 15px;
    border-radius: 12px;
  }

  .bannerImage{
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /* ================= FOOTER MAIN ================= */

  .footerMain{
    width: 96%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 10px;

    padding: 15px 8px;
  }

  /* ================= FOOTER BOX ================= */

  .footerBox{
    width: 48%;

    border-right: none;
    border-bottom: 1px solid #eee;

    padding: 0 5px 15px 5px;
  }

  .footerBox:last-child{
    border-bottom: none;
  }

  /* ================= LOGO ================= */

  .logo{
    width: 100px;
    margin-bottom: 10px;
  }

  /* ================= TITLES ================= */

  .footerBox h2{
    font-size: 11px;
    margin-bottom: 5px;
  }

  .line{
    width: 25px;
    height: 2px;
    margin-bottom: 10px;
  }

  /* ================= TEXT ================= */

  .footerText{
    font-size: 8px;
    line-height: 1.6;
  }

  /* ================= SOCIAL ================= */

  .socials{
    margin-top: 10px;
    gap: 6px;
  }

  .socialIcon{
    width: 26px;
    height: 26px;

    font-size: 10px;

    border-radius: 6px;
  }

  /* ================= BUTTON ================= */

  .contactBtn{
    margin-top: 10px;

    gap: 4px;

    font-size: 8px;
  }

  /* ================= INFO ================= */

  .infoRow{
    gap: 6px;
    margin-bottom: 8px;
  }

  .infoIcon{
    font-size: 9px;
    margin-top: 2px;
  }

  .infoRow p{
    font-size: 8px;
    line-height: 1.5;
  }

  /* ================= BOTTOM ================= */

  .bottomBar{
    width: 96%;

    padding: 10px 5px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    gap: 10px;
  }

  .secure{
    gap: 5px;
    font-size: 10px;
  }

  .secure p{
    font-size: 8px;
  }

  .copyRight{
    font-size: 8px;
    text-align: right;
  }

}